.contactsListItem {
    width: 240px;
    padding: 20px 30px;
    text-align: center;
    background-color: #ffff;
    border-radius: 10px;
    border: 1px solid #68a9f2;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow var(--transition), transform var(--transition);
}

.avatarContainer {
    width: 80px;
    height: 80px;
    border: 2px solid #68a9f2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 8px;
}

.avatar {
    width: 40px;
    fill: currentColor;
}

.contactsListItem:hover,
.contactsListItem:focus {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.contactName {
    font-family: "Neue Montreal Medium";
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 8px;
}

.contactPhone {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.contactPhone:after {
    content: " ";
    display: block;
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background: #000000;
}

.deleteBtn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #000000;
    background-color: var(--body-background-color);
    padding: 3px 14px;
    border: 1px solid #000000;
    border-radius: 4px;
    transition: color var(--transition), background-color var(--transition), border var(--transition), box-shadow var(--transition);
}

.deleteBtn:hover {
    color: #FFFFFF;
    background-color: #000000;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(255, 255, 255, 0.1), 0px 2px 1px rgba(255, 255, 255, 0.08), 0px 2px 2px rgba(255, 255, 255, 0.12);
}