.headerList {
    display: flex;
    align-items: center;
    gap: 30px;
}

.headerListItem {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.headerLink {
    transition: color var(--transition);
}

.headerLink:hover {
    color: #725AC1;
}

@media screen and (max-width: 768px) {
    .headerList {
        gap: 15px;
    }

    .headerListItem {
        font-size: 19px;
    }
}

@media screen and (max-width: 375px) {
    .headerList {
        gap: 10px;
    }

   .headerListItem {
        font-size: 18px;
   }
}