.form {
    background-color: #ffffff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    width: 500px;
    padding: 20px;
    margin: 0 auto;  
    transition: transform var(--transition), box-shadow var(--transition);
}

.form:hover,
.form:focus {
    transform: translateY(-3px);
    box-shadow: 0px 6px 12px rgba(46, 47, 66, 0.1), 0px 2px 4px rgba(46, 47, 66, 0.08);
}

.formFieldName {
    margin-bottom: 20px;
}

.formFieldPhone {
    margin-bottom: 30px;
}

.formLabel {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.01em;
}

.formInput {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 40px;
    padding-right: 16px;
    outline: transparent;
    transition: border-color var(--transition);
}

.formInput:focus {
    border-color: var(--input-focus);
}

.inputWrap {
    position: relative;
}

.formInputIcon {
    fill: currentColor;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}
.formBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 140px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 13px;
    background-color: #2E3F6E;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    transition: background-color var(--transition);
}

.formBtn:hover,
.formBtn:focus {
    background-color: #1E2D4E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 768px) {
    .form {
        width: 400px;
        padding: 15px;
    }
}

@media screen and (max-width: 375px) {
    .form {
        width: 360px;
    }
}