.authWrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.link {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    transition: color var(--transition);
}

.link:hover {
    color: #725AC1;
}