.wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.username {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.logBtn {
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #725AC1;
    background: transparent;
    transition: ease-out 0.5s;
    border: 1.5px solid #725AC1;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #725AC1;
}

.logBtn:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #725AC1;
}

.logBtn:active {
    transform: scale(0.9);
}

@media screen and (max-width: 768px) {
    .wrapper {
        flex-direction: column;
        align-items: flex-end;
        gap: 8px;
    }
}

@media screen and (max-width: 375px) {

    .username {
        font-size: 16px;
        text-align: center;
    }
}